@font-face {
  font-family: iranyekan;
  font-weight: 100;
  src: url("/static/fonts/eot/iranyekanwebthinfanum.eot");
  src: url("/static/fonts/eot/iranyekanwebthinfanum.eot")
      format("embedded-opentype"),
    url("/static/fonts/woff/iranyekanwebthinfanum.woff"),
    url("/static/fonts/ttf/iranyekanwebthinfanum.ttf");
}

@font-face {
  font-family: iranyekan;
  font-weight: 200;
  src: url("/static/fonts/eot/iranyekanweblightfanum.eot");
  src: url("/static/fonts/eot/iranyekanweblightfanum.eot")
      format("embedded-opentype"),
    url("/static/fonts/woff/iranyekanweblightfanum.woff"),
    url("/static/fonts/ttf/iranyekanweblightfanum.ttf");
}

@font-face {
  font-family: iranyekan;
  font-weight: 300;
  src: url("/static/fonts/eot/iranyekanwebregularfanum.eot");
  src: url("/static/fonts/eot/iranyekanwebregularfanum.eot")
      format("embedded-opentype"),
    url("/static/fonts/woff/iranyekanwebregularfanum.woff"),
    url("/static/fonts/ttf/iranyekanwebregularfanum.ttf");
}

@font-face {
  font-family: iranyekan;
  font-weight: 400;
  src: url("/static/fonts/eot/iranyekanwebmediumfanum.eot");
  src: url("/static/fonts/eot/iranyekanwebmediumfanum.eot")
      format("embedded-opentype"),
    url("/static/fonts/woff/iranyekanwebmediumfanum.woff"),
    url("/static/fonts/ttf/iranyekanwebmediumfanum.ttf");
}

@font-face {
  font-family: iranyekan;
  font-weight: 500;
  src: url("/static/fonts/eot/iranyekanwebboldfanum.eot");
  src: url("/static/fonts/eot/iranyekanwebboldfanum.eot")
      format("embedded-opentype"),
    url("/static/fonts/woff/iranyekanwebboldfanum.woff"),
    url("/static/fonts/ttf/iranyekanwebboldfanum.ttf");
}

@font-face {
  font-family: iranyekan;
  font-weight: 600;
  src: url("/static/fonts/eot/iranyekanwebextraboldfanum.eot");
  src: url("/static/fonts/eot/iranyekanwebextraboldfanum.eot")
      format("embedded-opentype"),
    url("/static/fonts/woff/iranyekanwebextraboldfanum.woff"),
    url("/static/fonts/ttf/iranyekanwebextraboldfanum.ttf");
}

@font-face {
  font-family: iranyekan;
  font-weight: 700;
  src: url("/static/fonts/eot/iranyekanwebblackfanum.eot");
  src: url("/static/fonts/eot/iranyekanwebblackfanum.eot")
      format("embedded-opentype"),
    url("/static/fonts/woff/iranyekanwebblackfanum.woff"),
    url("/static/fonts/ttf/iranyekanwebblackfanum.ttf");
}

@font-face {
  font-family: iranyekan;
  font-weight: 800;
  src: url("/static/fonts/eot/iranyekanwebextrablackfanum.eot")
    format("embedded-opentype");
  src: url("/static/fonts/eot/iranyekanwebextrablackfanum.eot"),
    url("/static/fonts/woff/iranyekanwebextrablackfanum.woff"),
    url("/static/fonts/ttf/iranyekanwebextrablackfanum.ttf");
}

html {
  /*scroll-behavior: smooth;*/
}

body {
  overflow-x: hidden;
  /*scroll-behavior: smooth !important;*/
  padding: 0;
  margin: 0;
  font-family: "iranyekan" !important;
  background: #f7f8f9;
  direction: rtl;
  font-size: 0.95rem;
  font-weight: 300;
  color: #484848;
  line-height: 1.8;
  text-align: right !important;
}

:root {
  --theme-pink: #d64773;
  --theme-gray: rgb(239, 236, 239);
}

.page-404 {
  background-color: #ffffff;
  height: 100vh;
}

.container {
  max-width: 1366px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.btn-success span {
  color: #f9f9f9 !important;
}

.ant-steps-icon {
  font-family: iranyekan !important;
}

.ant-input-number.ant-input-number-rtl {
  border-radius: 10px !important;
  width: 100% !important;
  height: 40px !important;
}

.ant-picker-rtl,
.ant-input.ant-input-rtl,
.ant-select-selector {
  height: 45px !important;
}

.ant-select-selection-item {
  display: flex;
  align-items: center;
}

.ant-picker-rtl,
.ant-select-selector,
.ant-input-affix-wrapper,
.ant-input {
  border-radius: 7px !important;
}

.ant-input-password {
  height: 40px;
}

.ant-upload-list-picture-card-container {
  margin-top: 5px !important;
  border-radius: 10px;
  width: 100% !important;
}

.ant-select-selection-placeholder {
  line-height: 40px !important;
}

.ant-form-item-view-mode label {
  font-weight: 400;
  font-size: 16px;
}

.ant-dropdown-menu {
  min-width: 280px;
}

.warning-label {
  color: #ff5807;
}

.boxShadow-form {
  margin-bottom: 3rem;
  box-shadow: 0px 0px 41px -8px rgb(117 126 151 / 48%);
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  padding: 30px;
}

.radio-pointer .ant-radio-wrapper.ant-radio-wrapper-rtl {
  margin-right: 0;
  margin-left: 0px;
  direction: rtl;
}

.fixMenu .ant-radio-button-wrapper {
  border: #ffffff;
}

.boxShadow-form label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.height-high {
  height: 400px;
}

/*Main Body Css*/

header {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  z-index: 10;
  background-color: #ffffff;
  position: relative;
}

#hero {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eee;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titr-title {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.link-title {
  font-size: 13px;
  color: #4597fc;
}

.logo-title2 {
  font-size: 20px;
  font-weight: 600;
}

.menu-arrow {
  display: inline-block;
  transform: translateY(-3px);
}

.bold-title {
  font-size: 27px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

.welcome-title {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
}

.sub-title {
  color: black;
  font-size: 14px;
  font-weight: 300;
  /*line-height: 33px;*/
}

.muted-title {
  font-size: 12px;
  font-weight: 300;
  color: #959499;
}

.pink-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--theme-pink) !important;
}

.type-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--theme-pink) !important;
}

.price-title {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: var(--theme-pink) !important;
}

.amount-title {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: var(--theme-pink) !important;
}

.bold-title-gray {
  color: #9a9a9a;
  font-size: 25px;
  font-weight: 600;
}

.card-loading {
  background-color: transparent;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: #555;
  border: none;
  outline: none;
  font-size: 40px;
  background-color: transparent !important;
  border-radius: 500px;
  line-height: 40px;
}

.slick-prev:hover svg,
.slick-next:hover svg {
  color: #5f5f5f !important;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.padding80 {
  padding: 80px 0;
}

.sub-title-gray {
  color: #757575;
  font-size: 13px;
  font-weight: 300;
}

.radius {
  border-radius: 7px !important;
}

.header-bg {
  background-color: #f5f8fe;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.inputMain {
  width: 100%;
  height: 45px;
  border-radius: 7px;
}

.menu-btn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.title-inputMain {
  font-size: 14px;
  color: #6c6a6a;
  border-radius: 4px;
  justify-content: center;
}

.bg-navyBlue {
  background-color: #111828;
}

.white-boldtitle {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.white-title {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.white-subtitle {
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.gold-title {
  font-size: 20px;
  font-weight: 500;
  color: #ffb91d;
}

.service-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 270px;
  border-radius: 10px;
  background: #fafafa;
  border: 1px solid #fcfcfc;
}

.order-box {
  background-color: var(--theme-pink);
  width: 100%;
  height: 200px;
  color: #f9f9f9;
  /*background-color: #e5e5f7;*/
  /*opacity: 0.1;*/
  background-image: radial-gradient(circle at center center, #f815d5, #ffffff),
    repeating-radial-gradient(
      circle at center center,
      #ffffff,
      #ffffff,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}

.service-box:hover {
  background-color: white;
}

.service-icon {
  background-color: #111828;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fixMenu {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #bee0f6;
  padding: 20px 0;
  /*position: absolute;*/
}

.white-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 250px;
  background-color: white;
}

.link-input {
  text-align: left;
}

.content-type {
  min-height: 100px;
}

.readMore {
  position: absolute;
  bottom: 0;
  right: 35%;
  padding: 30px 0;
}

.readMore2 {
  display: flex;
  margin-top: auto;
  background-color: rgba(239, 85, 155, 0.5);
  color: white !important;
  font-size: 13px;
  justify-content: center;
  padding: 5px;
  font-weight: 200;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-controller {
  position: absolute;
  left: 10px;
  z-index: 10;
  top: -45px;
}

.footer-menu li {
  display: block;
  /*text-align: right;*/
}

.footer-menu li a {
  display: block;
  padding: 8px 0;
  color: #fff !important;
}

.footer-menu a {
  display: block;
  padding: 8px 0;
  color: #fff !important;
}

.connect-us span {
  color: #fff;
}

.err-title {
  color: #ff1e1e;
  font-size: 14px;
  font-weight: 300;
}

.bg-gray {
  background-color: #e6eaf1;
}

.off-text {
  color: #979494;
  text-decoration: line-through;
}

.off {
  text-decoration: line-through;
}

.product-box {
  background-color: #f5f8fe;
  border: 1px solid #e5ebf8;
  box-sizing: border-box;
  border-radius: 10px;

  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.product-box:hover {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.05) !important;
}

.product-box:hover .titr-title {
  color: var(--theme-pink) !important;
}

.enamad-box {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 75%;
}

.user-sidebar {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #e8edf9;
  box-sizing: border-box;
  box-shadow: 0 2px 20px rgba(232, 237, 249, 0.3);
  /*border-radius: 10px;*/
  padding: 20px 0;
}

.user-panel {
  background-color: #ffffff;
  box-shadow: 0 2px 20px rgba(232, 237, 249, 0.3);
  border: 1px solid #e8edf9;
  padding: 25px;
}

.title-page {
  font-size: 1.1rem;
}

.gray-title {
  font-weight: 400;
  font-size: 15px;
  color: #424242;
}

.plus-btn {
  position: absolute;
  bottom: 55px;
  right: -10px;
  background-color: #d64773;
  color: white;
  border: 5px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.arrow-btn {
  width: 50px;
  background-color: #efefef;
  border-radius: 30%;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  height: 50px;
  line-height: 47px;
}

.arrow-btn:hover {
  background-color: white;
}

.widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0 10px;
}

.widget:hover {
  background-color: #fbedf1;
  border-radius: 10px;
}

.widget:hover .sub-title {
  color: #d64773;
}

.subMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  padding: 10px;
  margin: 0 10px 0 10px;
  background-color: rgba(245, 248, 254, 0.6);
}

.subMenu span {
  color: #414141;
}

.subMenu:hover {
  background-color: #ffff;
}

.subMenu:hover .sub-title {
  color: #d64773;
}

.icon-box {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(196, 196, 196, 0.25);
}

.widget:hover #icon-widget {
  fill: #d64773;
  background-color: white;
}

.widget:hover .icon-box {
  fill: #d64773;
  background-color: white;
}

.widget:hover #arrow {
  stroke: #d64773;
}

.widget-selected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #fbedf1;
  border-radius: 10px;
}

.widget-selected span {
  color: #d64773;
}

.widget-selected #icon-widget {
  fill: #d64773;
  background-color: white;
}

.widget-selected .icon-box {
  fill: #d64773;
  background-color: white;
}

.widget-selected #arrow {
  stroke: #d64773;
}

#arrow-selected {
  stroke: #d64773;
}

.icon-box-selected {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  fill: #d64773;
  background-color: white;
}

.logo-bg {
  /*background-image: url("/static/images/logo.svg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  position: absolute;
  z-index: 1;
  opacity: 0.35;
  bottom: -20px;
  width: 100px;
  height: 100px;
  right: 35%;
}

.logo-title {
  position: relative;
  z-index: 2;
}

/*/////Login/////*/
.login-btn {
  /*width: 45%;*/
  border-radius: 7px !important;
  padding: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-pink);
  color: white;
  border: 1px solid var(--theme-pink);
}

.login-btn:focus,
.login-btn:hover {
  background-color: white;
  color: var(--theme-pink);
  box-shadow: none;
  border: 1px solid var(--theme-pink);
}

.addCart-btn {
  /*width: 45%;*/
  border-radius: 7px !important;
  padding: 15px 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-pink);
  color: white;
  border: 1px solid var(--theme-pink);
}

.addCart-btn:focus,
.addCart-btn:hover {
  background-color: white;
  color: var(--theme-pink);
  box-shadow: none;
  border: 1px solid var(--theme-pink);
}

.welcome-input {
  width: 75% !important;
  border-radius: 7px !important;
}

.login-input {
  width: 100% !important;
  border-radius: 7px !important;
}

/*/////Login/////*/

/*//////Home/////*/

/*Calculating*/
.calculating-box {
  padding: 5px 0;
  margin-bottom: 20px;
  border: 1px solid #e5ebf8;
  border-radius: 5px;
  background: #f5f8fe;
  font-size: 13px;
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
}

.calculating-box-Active {
  padding: 5px 0;
  margin-bottom: 10px;
  border: 1px solid var(--theme-pink);
  border-radius: 5px;
  background: #f5f8fe;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectBox {
  padding: 5px 0;
  margin-bottom: 10px;
  border: 1px solid #e5ebf8;
  border-radius: 5px;
  background: #f5f8fe;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.selectBox-Active {
  padding: 5px 0;
  margin-bottom: 10px;
  border: 1px solid var(--theme-pink);
  border-radius: 5px;
  background: #f5f8fe;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.freelancer-box {
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #d4f8c6;
  border-radius: 5px;
  background: #e9faf0;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-title {
  color: var(--theme-pink);
  font-size: 16px;
  font-weight: 400;
}

/*Calculating*/

/*//////Home/////*/

/*header*/
.navbar-nav {
  padding: 0;
}

.pink-btn {
  background-color: rgba(255, 171, 197, 0.3) !important;
  color: var(--theme-pink) !important;
  border: 1px solid transparent !important;
  border-radius: 10px !important;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  display: flex;
  align-items: end;
}

.sample-btn {
  height: 40px;
  font-size: 13px;
  font-weight: 300;
  color: #6d6d6d !important;
}

.sample-btn span {
  font-size: 13px !important;
}

.addOrder-btn {
  /*height: 40px;*/
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  background-color: var(--theme-pink);
  color: white;
  border: 1px solid var(--theme-pink);
}

.addOrder-btn:focus,
.addOrder-btn:hover {
  background-color: white;
  color: var(--theme-pink);
  box-shadow: none;
  border: 1px solid var(--theme-pink);
}

.OrderBtn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-pink);
  color: white;
  border: 1px solid var(--theme-pink);
}

.OrderBtn:focus,
.OrderBtn:hover {
  background-color: white;
  color: var(--theme-pink);
  box-shadow: none;
  border: 1px solid var(--theme-pink);
}

.pink-btn:hover {
  box-shadow: var(--theme-pink) !important;
  border: 1px solid var(--theme-pink) !important;
}

.pink-btn:focus,
.pink-btn:active {
  box-shadow: var(--theme-pink) !important;
  border: 1px solid var(--theme-pink) !important;
}

/*header*/

/*Order Box*/
.order-switch .ant-switch {
  /*background-color: var(--theme-pink);*/
}

.category-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(212, 210, 210, 0.5);
  border-radius: 7px;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.025);
  cursor: pointer;
  height: 170px;
}

.category-box:hover {
  background-color: #fff;
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #d64773;
}

.sendBTN {
  width: 100%;
  height: 80px;
  margin: 0 auto !important;
  padding: 10px;
  color: white !important;
  background-color: var(--theme-pink) !important;
  border-radius: 10px !important;
  border: 1px solid var(--theme-pink) !important;
}

.backBTN {
  width: 100%;
  height: 80px;
  margin: 0 auto !important;
  padding: 10px;
  border-radius: 10px !important;
}

.back_arrow {
  position: relative;
  bottom: 40px;
}

.send-again {
  display: flex;
  position: absolute;
  bottom: 266px;
  right: 67%;
  width: 30%;
  justify-content: left;
}

.sendAgain-forgot {
  display: flex;
  position: absolute;
  bottom: 41px;
  right: 55%;
  width: 30%;
  justify-content: left;
}

.language-box {
  padding: 8px 10px;
  min-width: 170px;
  margin-bottom: 20px;
  border: 1px solid #e5ebf8;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cursor {
  cursor: pointer;
}

.ant-btn {
  font-size: 15px !important;
  border-radius: 7px;
}

.ant-dropdown-menu-title-content a {
  color: #626060 !important;
  font-weight: 300;
}

.ant-form-item-label {
  display: flex !important;
}

.ant-form-item-label label {
  display: flex;
}

.ant-scrolling-effect {
  width: auto !important;
  overflow: auto !important;
}

.ant-tabs-tab:hover {
  color: var(--theme-pink);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--theme-pink);
}

.username .ant-badge-rtl .ant-badge-count {
  top: -10px;
}

.ant-tabs-ink-bar {
  background-color: var(--theme-pink);
}

.ant-dropdown-menu-item {
  padding: 10px 12px;
}

.menu-item {
  font-size: 13px !important;
  font-weight: 300 !important;
}

.username-btn {
  border: 1px solid #ddd;
  margin: 0 10px;
  height: 40px;
  border-radius: 7px;
  padding: 5px !important;
}

.box-type {
  display: flex;
  border: 1px solid #c6c6c6;
  flex-direction: column;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  min-height: 100px;
}

.ant-result-content {
  background-color: #ffffff;
}

.box-typeActive {
  border: 1px solid var(--theme-pink) !important;
}

.box-upload {
  display: flex;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
}

.box-uploadActive {
  background-color: var(--theme-pink);
  border-radius: 10px;
  color: white !important;
  padding: 0 20px;
}

.box-uploadActive span,
.box-uploadActive svg {
  fill: white;
  color: white !important;
}

.uploaded-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  background-color: #f6f4f4;
  border: 1px solid rgba(224, 224, 224, 0.6);
}

.svg {
  width: 20px !important;
  fill: gray;
}

.ant-picker-rtl {
  width: 100% !important;
}

/*Order Box*/

/*Prosess Bar*/

.ant-steps-item-container,
.ant-steps-item-icon {
  align-items: center !important;
  display: inline-flex !important;
  justify-content: center !important;
}

.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 10px;
}

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 55px;
  height: 55px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 49px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00ae4d;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  border: 1px solid white;
  background-color: transparent;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-weight: 100;
  content: "\f00c";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-weight: 100;
  content: "\f040";
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 200 !important;
  color: white !important;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: white !important;
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  position: absolute;
  top: 0;
  right: 35%;
  font-size: 16px;
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #dddddd;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 53%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 53%;
  margin-right: 20px;
}

/*Prosess Bar*/

/*Prosess Switch Button*/

.switch-btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  background-color: #e6eaf1;
  width: 17%;
}

.switch-label {
  color: #919191;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  padding: 7px;
}

.switch-active {
  color: #312f2f;
  font-size: 18px;
  font-weight: 500;
  padding: 7px;
  border-radius: 7px;
}

/*Prosess Switch Button*/

/*FAQ*/
.FAQ .anticon svg {
  fill: var(--theme-pink);
  width: 20px;
}

.ant-collapse-item.ant-collapse-no-arrow {
  margin-bottom: 8px;
}

.ant-collapse {
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
}

.ant-collapse-header {
  border: 1px solid #e5ebf8;
  border-radius: 5px;
  background: #f5f8fe;
  font-size: 14px;
}

.ant-collapse-content {
  /*background: #F5F8FE;*/
  margin-top: -2px;
  border-radius: 5px;
  border: 1px solid #e5ebf8;
}

.ant-collapse > .ant-collapse-item {
  border: none;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 20px 16px;
}

/*FAQ*/

/*///////// Panel USer /////////*/

.panel-information1 {
  background-image: url("/static/images/1.svg");
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.panel-information2 {
  background-image: url("/static/images/2.svg");
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.panel-information3 {
  background-image: url("/static/images/3.svg");
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.user-workSpace th {
  background-color: #34495e !important;
  color: white !important;
}

.custom-th {
  background-color: #34495e !important;
  color: white !important;
}

.orderBtn {
  border-radius: 4px !important;
  padding: 8px;
  font-size: 14px;
  font-weight: 300;
  border: none !important;
}

.reject-orderBtn {
  background-color: #e2e7ee !important;
  color: black !important;
}

.doing-orderBtn {
  background-color: #bfe7ff !important;
  color: #3c7ffc !important;
}

.error-orderBtn {
  background-color: #ffbfce !important;
  color: #fc3c3c !important;
}

.new-orderBtn {
  background-color: #fcf2e9 !important;
  color: #eb9b54 !important;
}

.paid-orderBtn {
  background-color: #47d233 !important;
  color: #f9f9f9;
}

.red-orderBtn {
  background-color: #f50b1f !important;
  color: #f9f9f9;
}

.select-orderBtn {
  background-color: #a030df !important;
  color: #f9f9f9;
}

.complete-orderBtn {
  background-color: #1463ec !important;
  color: #f9f9f9;
}

.payment-btn {
  height: 70px;
  border-radius: 7px;
  background-color: #28a745;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.payment-btn:hover,
.payment-btn:active {
  /*height: 70px;*/
  border-radius: 7px;
  border: 1px solid #07bb0a;
  background-color: #07bb0a;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.buy-btn {
  background-color: #f9f9f9;
  color: var(--theme-pink);
  border: 1px solid var(--theme-pink);
  color: var(--theme-pink);
  border-radius: 10px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-btn:hover {
  background-color: var(--theme-pink);
  color: white;
  border: 1px solid var(--theme-pink);
}

.buy-btn:focus {
  border: 1px solid var(--theme-pink);
}

#replyBox {
  display: none;
}

/*///////// Panel USer /////////*/

/*///////// Project /////////*/
.projectView {
  width: 100%;
  border-radius: 7px;
  border: 1px solid #f9f9f9;
  background-color: #f5f8fe;
  padding: 15px;
}

.paymentMethod {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #e5ebf8;
  border-radius: 5px;
  background: #f5f8fe;
  font-size: 13px;

  text-align: center;
  display: flex;

  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.paymentMethod-Active {
  border: 1px solid var(--theme-pink);
}

.ok-btn {
  border-radius: 10px !important;
  padding: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4bbd4a;
  color: #ffffff;
  border: 1px solid #d6e6f8;
}

.ok-btn:focus,
.ok-btn:hover {
  background-color: #39a038;
  color: #ffffff;
  border: 1px solid #d6f8db;
}

.cancel-btn {
  border-radius: 10px !important;
  padding: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0443c;
  color: #ffffff;
  border: 1px solid #f8d6d6;
}

.btn-main {
  padding: 1px 40px;
  line-height: 50px;
  height: 51px;
  font-weight: 500;
}

.btn-main span {
  font-size: 18px !important;
}

.cancel-btn:focus,
.cancel-btn:hover {
  background-color: #c63931;
  color: #ffffff;
  border: 1px solid #d6e6f8;
}

/*///////// Project /////////*/

/*////////////Profile/////////////*/
.favorite-btn {
  border-radius: 10px !important;
  padding: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #3d3d3d;
  border: 1px solid #d6e6f8;
}

.favorite-btn:focus,
.favorite-btn:hover {
}

/*////////////Profile/////////////*/

/*////////////Order/////////////*/

.ant-card-head-title {
  font-family: iranyekan !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.9);
}

.finance-box .ant-card-rtl {
  background-color: var(--theme-gray) !important;
  border-radius: 10px !important;
}

.form-btn Button {
  height: 40px !important;
  box-shadow: none;
  /*border: none;*/
}

.fw300 {
  font-weight: 300 !important;
}

/*////////////Order/////////////*/

/*////////////Blog/////////////*/

.blog-main-item {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border: 1px solid rgba(201, 201, 253, 0.5);
  overflow: hidden;
  box-shadow: 0px 20px 40px 10px rgba(0, 0, 0, 0.03);
}

.blog-item {
  /*min-height: 250px;*/
  /*width: auto;*/
}

.blog-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #c9c9c9;
  overflow: hidden;
  background-color: #ffffff;
}

.blog-link {
  background: #e6eaf1;
  color: #3b3b3b;
  font-size: 14px;
}

.blog-home:hover .blog-link {
  /*background-color: #e83e8c;*/
  background-color: var(--theme-pink);
  color: #ffffff;
}

.blog-content {
  min-height: 180px;
}

.blog-item:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  opacity: 0;
  background: linear-gradient(
    0.53deg,
    rgba(0, 0, 0, 0.2) 40.52%,
    rgba(0, 0, 0, 0) 97.57%
  );
  z-index: 0;
}

.blog-item:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #f1b74d;
  border-radius: 10px;
  opacity: 0;
  transition: 0.4s;
  z-index: 2;
}

.blog-item:hover::after {
  opacity: 1;
}

.blog-item:hover::before {
  opacity: 1;
}

.title-image {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  z-index: 2;
  height: 70%;
  bottom: 0;
  width: 100%;
  padding: 15px;
  /*border-radius: 10px;*/
  background: linear-gradient(
    0.53deg,
    rgba(0, 0, 0, 0.7) 35.52%,
    rgba(0, 0, 0, 0) 97.57%
  );
}

.title-blog {
  min-height: 50px;
}

.blog-sticker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  background: linear-gradient(
    0.53deg,
    rgba(0, 0, 0, 0.7) 35.52%,
    rgba(0, 0, 0, 0) 97.57%
  );
}

.date-title {
  font-size: 14px;
  color: #ffffff;
}

.Blog-Search {
  display: flex;
  align-items: center;
  /*background-color: #F5F8FE;*/
  border-radius: 10px;
}

/*////////////Blog/////////////*/

/*//////////////////Shop//////////////*/
.checkBox .ant-checkbox-group.ant-checkbox-group-rtl {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.checkBox .ant-checkbox-wrapper.ant-checkbox-rtl.ant-checkbox-group-item {
  padding: 5px;
}

/*//////////////////Shop//////////////*/

/*///////Chat////////*/

.messagebox-me {
  background-color: #dbf7ff;
  border: 1px solid #bedee7;
  border-radius: 10px;
  width: 40%;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-left: auto; */
}

.messagebox {
  background-color: #dbfff2;
  border-radius: 10px;
  border: 1px solid #bedee7;
  width: 40%;
  padding: 15px;
  margin: 10px 0;
  display: flex;
  margin-right: auto;
  flex-direction: column;
  position: relative;
}

/* MY STYLE  */
.user-message {
  display: flex;
  gap: 5px;
  align-items: center;
}
.user-message img {
  border-radius: 50px;
}
/* MY STYLE  */

.messageView {
  width: 100%;
  border-radius: 10px;
  background-color: #f5f8fe;
  padding: 15px;
  border: 1px solid #e5ebfa;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*///////Chat////////*/

/*//////////////////Upload//////////////*/
.ant-upload.ant-upload-select.ant-upload-select-picture-card.ant-upload-rtl {
  width: 100%;
}

.upload-box {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: #33abf5;
  color: white;
  padding: 10px;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: var(--theme-pink);
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid var(--theme-pink);
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: var(--theme-pink);
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-reply {
  position: absolute;
  margin: 0;
  padding: 0;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  padding: 10px;
  border: 2px dashed var(--theme-pink);
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-profile {
  padding: 6px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  width: 100px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadReply {
  width: 50%;
  border-radius: 7px !important;
  padding: 8px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2385fd;
  color: white;
  border: 1px solid #4e94fd;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: var(--theme-pink);
  border: 2px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.image-upload-wrap:hover .drag-text span {
  color: #f9f9f9;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

/*//////////////////Upload//////////////*/

/*//////////////////Quiz//////////////*/
.Questions {
  direction: ltr;
}

.Questions .ant-radio-group {
  direction: ltr !important;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.Questions .ant-radio-wrapper.ant-radio-wrapper-rtl {
  direction: ltr !important;
}

.selectField .ant-checkbox-group.ant-checkbox-group-rtl {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.selectField .ant-checkbox-wrapper.ant-checkbox-rtl.ant-checkbox-group-item {
  /*padding: 15px;*/
  /*width: 250px;*/
}

/*//////////////////Quiz//////////////*/

/*BootStrap Edit*/
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 0;
  padding-left: 30px;
}

.goTop {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  /*border-radius: 50%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 6px;
}

.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

#black-bg {
  background: black;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  opacity: 0.7;
}
.toolbar-btn {
  position: relative;
  animation: mymove 500ms;
  min-width: 160px;
}
@keyframes mymove {
  /*0%   { opacity: 0; }*/
  /*100% { opacity: 1; }*/
  0% {
    left: 300px;
  }
  100% {
    left: 0;
  }
}

.support-toolbar {
  /*border-radius: 50%;*/
  width: auto;
  min-height: 260px;
  position: fixed;
  bottom: 80px;
  right: 15px;
}

.support-btn {
  border-radius: 7px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 15px;
  font-weight: 300;
  color: #585858 !important;
}

.nav-item :hover {
  color: var(--theme-pink) !important;
}

.nav-link-active {
  /*font-size: 18px;*/
  color: var(--theme-pink) !important;
  /*font-weight: 500;*/
  padding: 10px 15px;
}

.navbar {
  border-radius: 10px;
  /*background-color: #F5F8FE;*/
  background-color: #ffffff;
  padding: 7px;
}

.sendComment-box {
  border: 1px solid rgba(203, 202, 202, 0.4);
  background-color: #f7f7f7;
}

/*BootStrap Edit*/

.wallet-btn-Active {
  color: #fff;
  background-color: #138496;
  border: 1px solid #117a8b;
}

.wallet-btn {
  color: #138496;
  background-color: #fff;
  border: 1px solid #117a8b;
}

/*//Editor*/
.demo-editor {
  margin-top: 20px;
  border: 1px solid #f1f1f1;
  min-height: 200px;
  border-radius: 7px;
  padding: 5px;
}

#replyBox .demo-editor {
  margin-top: 20px;
  border: 1px solid #f1f1f1;
  min-height: 150px;
  border-radius: 7px;
  padding: 5px;
  color: black;
  background-color: #ffffff;
}

/*Media Query*/
.scroll-x {
  overflow-x: hidden;
  overflow-y: hidden;
}
.icon-d img {
  width: 50px;
}
@media (max-width: 740px) {
  .logo-box {
    margin-right: 60px;
  }
  .white-boldtitle {
    font-size: 15px;
  }
  .icon-d img {
    width: 35px;
  }
  .icon-d {
    margin-left: 10px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
  }

  .scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .switch-btn {
    width: 55%;
  }

  .md-stepper-horizontal {
    display: flex;
    flex-direction: column;
  }

  .md-stepper-horizontal .md-step .md-step-bar-left,
  .md-stepper-horizontal .md-step .md-step-bar-right {
    display: none;
  }

  .md-step.active {
    padding: 20px 0;
  }
}

/*Media Query*/
.head-dr .ant-drawer-body .user-sidebar {
  margin-bottom: 0 !important;
}
.head-dr .ant-drawer-body {
  padding: 0 !important;
}
.pointer {
  cursor: pointer;
}
.ant-steps-item-icon .ant-steps-icon {
  color: #d64773;
  top: auto !important;
}
.ant-radio-checked:after,
.ant-radio-checked .ant-radio-inner {
  border-color: #d64773 !important;
}
.ant-radio-inner:after,
.ant-checkbox-checked:after {
  background-color: #d64773 !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #d64773 !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #d64773 !important;
  background-color: #d64773 !important;
}
.ant-badge-status-processing:after {
  border-color: #d64773 !important;
}
.ant-badge-status-processing {
  background-color: #d64773 !important;
}
.icon-bank {
  fill: #c6c6c6;
}
.icon-bank.active {
  fill: #d64773;
}
.side-menu-section .ant-collapse-arrow {
  display: flex;
}
.side-menu-section .ant-collapse-content {
  border: none !important;
  background: transparent !important;
}
.side-menu-section .ant-collapse-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 13px !important;
  align-items: center;
  border: none !important;
  /*background: #f9f9f9 !important ;*/
  color: rgb(214, 71, 115) !important ;
  background: rgba(214, 71, 115, 0.1) !important ;
}
.side-menu-section .ant-menu-title-content {
  color: black !important;
}
