.my-table-sec {
  display: flex;
  min-height: 200px;
}

.my-table-sec .my-table-sidebar {
  flex: 1;

  display: flex;
  flex-direction: column;
}
.side-header {
  display: flex;
  align-items: center;
  min-height: 150px;
  padding: 20px;

  background-color: #d64773;
  color: #fff;
}

.side-column {
  background-color: #d64773;
  color: #fff;
}
.side-row {
  display: flex;
  align-items: center;
  padding: 20px;
}
.my-table-sec > .my-table-content {
  flex: 3;
}

.content-header {
  min-height: 150px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  padding: 20px;
  background-color: #d64773;
  color: #fff;
}
.content-row {
  display: flex;
  align-items: center;
  padding: 20px;
}
